// =============================================
//              Global Variables               
// =============================================

// Font Stacks
$font-url--google : 'https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900';

$font-family : 'Lato',
'Helvetica Neue',
Helvetica,
Arial,
sans-serif;

// Font Weights
$font-weight--thin          : 100;
$font-weight--light         : 300;
$font-weight--medium        : 400;
$font-weight--bold          : 700;
$font-weight--ultra-bold    : 900;


// Descriptive Base Colors
$white          : #FFF;
$grey           : #777;
$grey-light     : lighten($grey, 33.33%);

$viking             : #58E1C1;
$purple-majesty     : #927BC1;
$coral              : #FD7856;
$french-lilac       : #DEB2EE;
$anakiwa            : #7EE6FD;
$vista-blue         : #88D9A0;
$fountain-blue      : #4DA2BB;
$sea-pink           : #EC9FA3;
$vivid-tangerine    : #FD9F85;
$sunglo             : #E4757A;
$emerald            : #63CC82;
$malibu             : #51DDFC;
$riptide            : #80E8D1;

// Color Usage
$color-primary      : $viking;
$color-secondary    : $malibu;

// UI Colors
$btn-colors: (
    default     : $malibu,
    success     : $emerald,
    error       : $sunglo,
    warning     : $coral,
    info        : $purple-majesty
);

$theme-colors: (
    $purple-majesty,
    $coral,
    $french-lilac,
    $anakiwa,
    $vista-blue,
    $fountain-blue,
    $sea-pink,
    $vivid-tangerine,
    $sunglo,
    $emerald,
    $malibu,
    $riptide
);

// Text
$base__font-size    : 16px;
$base__line         : 24px;

// Border radius
$br--default     : 5px;

// Transitions
$trns-duration   : .2s;

// Grid
$g-col-count    : 12;

// Breakpoints
$tablet     : 768px;

// Layout
$max-width  : 1400px;