// ============================================= 
//              Buttons                       
// ============================================= 

.btn {
    margin-top: em(15px);
    width: 100%;
    color: $white;
    border: none;
    padding: em(10px) 0;
    text-transform: uppercase;
    border-radius: $br--default;

    @include bg-colors($ui-colors);

    @include mq($tablet) {
        padding: em(10px) em(30px);

        &+& {
            margin-left: em(10px);
        }
    }
}