// ============================================= 
//              Navigation                       
// ============================================= 

.nav {
    @include flexbox($dir: column);
    padding: em(20px) 0;
    flex-basis: 100%;

    &-link {
        @extend %nav-link;
    }

    @include mq($tablet) {
        @include flexbox(flex, row, flex-end, center);

        &-link {
            flex-basis: em(100px);
        }
    }
}