// =============================================
//              Base styles & Typography                      
// ============================================= 

* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: $font-family;
    color: $grey;
    font-size: em($base__font-size);
}

p {
    line-height: em($base__line);
}

a {
    text-decoration: none;

    &.link {
        color: $color-secondary;
        font-weight: $font-weight--bold;
    }
}

.headline {

    &-primary {
        color: $color-primary;
        margin-left: em(10px, 32px); // 32px (2em): font-size of -primary
    }

    &-secondary {
        font-weight: $font-weight--light;
    }

}

.blockquote {
    font-size: em(24px);
    font-weight: $font-weight--light;
    font-style: italic;
    margin-left: em(20px, 24px);
    padding-left: em(20px, 24px);
    border-left: em(8px, 24px) solid $color-primary;
    border-radius: em($br--default, 24px);
}