// =============================================
//              Base styles & Typography                      
// ============================================= 

* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: $font-family;
    color: $grey;
}

p {
    line-height: em($base__line);
}

a {
    text-decoration: none;

    &.link {
        color: $color-secondary;
        font-weight: $font-weight--bold;
    }
}

.headline {

    &-primary {
        color: $color-primary;
        margin-left: em(10px);
    }

    &-secondary {
        font-weight: $font-weight--light;
    }

}

.blockquote {
    font-size: em(24px);
    font-weight: $font-weight--light;
    font-style: italic;
    margin-left: em(20px);
    padding-left: em(20px);
    border-left: em(8px) solid $color-primary;
    border-radius: $br--default;
}